@page {
    size: A4;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    width: 210mm;
    height: 297mm;
    margin: 0;
}

#head{
    padding-right: 40px;
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}
#head > img {
    width: 100px;
    height: 100px;
}

#body1 {
    display: grid;
}
#info_cliente {
    align-items: self-start;
    display: flex;
    flex-direction: column;
}
#info_cliente > p{
    margin: 4px;
}
#banco_e_qr{
    display: flex;

}

p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
#info_cliente > p{
    
    font-weight: bold;
}

#table_div{
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
}
th, td {
    padding: 10px 20px;
    text-align: center;
    text-align: left;
}
th {
    border-bottom: 2px solid #000;
}
tr:nth-child(odd) {
    background-color: #f0f0f0;
}
th:nth-child(1){
    width: 300px
}
td{
    height: 25px;
    border-bottom: 2px solid #000;
}

